<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>demoTitle</key>
		<string>test</string>
		<key>desController</key>
		<string>TestViewController</string>
	</dict>
    <dict>
        <key>demoTitle</key>
        <string>测试导航条</string>
        <key>desController</key>
        <string>TestNaviController</string>
    </dict>
</array>
</plist>
